<mat-card-header>
  <mat-card-title>{{ 'Delete a Skill Group' | translate }}</mat-card-title>
</mat-card-header>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <mat-form-field fxFlex formGroupName="skillGroup" check-visibility control="skillGroup.id">
        <mat-label>{{"SKILLS.FIELDS.SKILL_GROUP" | translate}}</mat-label>
        <input type="text" matInput formControlName="id" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
          <mat-option *ngFor="let skillGroup of filteredGroupsSkill | async" [value]="skillGroup.id">
            {{skillGroup.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="10"
        class="mt-5"
      >
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
          <button type="submit" mat-flat-button color="primary">
            {{ 'BUTTONS.SAVE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
