<mat-card>
    <mat-card-header>
        <mat-card-title>{{pageTitle | translate}} </mat-card-title>
        <mat-card-subtitle>{{ (isInsert() ? 'TIMESHEET.FORM.SUBTITLE' : 'TIMESHEET.FORM.UPDATE_SUBTITLE') |
            translate}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <form fxFlex [formGroup]="form" (ngSubmit)="onSubmit()">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20">
            <mat-form-field fxFlex formGroupName="unit" check-visibility control="unit.id">
              <mat-label>{{ "RESOURCES.FIELDS.UNIT" | translate }}</mat-label>
              <mat-select formControlName="id" required (selectionChange)="filterResourcesByUnit($event.value)">
                <mat-option *ngFor="let unit of units" [value]="unit.id" [disabled]="!permissions">
                  {{ unit.trigram }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex formGroupName="resource" check-visibility control="resource">
              <mat-label>{{ "TIMESHEET.FIELDS.RESOURCE" | translate }}</mat-label>
              <input type="text" matInput formControlName="id" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnAutocompleteResources.bind(this)">
                <mat-option *ngFor="let resource of filteredResourcesObservable | async" 
                            [value]="resource.id" 
                            (onSelectionChange)="onResourceChange($event, resource.id)">
                  {{ resource.name + " " + resource.surname }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div *ngIf="isInsert()">
              <button [disabled]="addProjectCheck == false" style="margin-bottom: 20px;" type="button" (click)="openTimesheetDialog()" mat-flat-button color="primary">
                {{ "BUTTONS.ADD_PROJECT" | translate }}
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content fxLayoutGap="20">
        <div>
            <mat-tab-group [selectedIndex]="currentMonthIndex"  (selectedTabChange)="onTabChanged($event)">
                <mat-tab  *ngFor="let label of tabLabels" [label]="label | translate">
                    <mat-card-content>
                        <app-generic-table
                          [columns]="columns"
                          [dataSource]="all_timesheets"
                          [showCheckbox]= "false"
                          [tableAction] = "actions"  (onActionClick)="onActionClick($event.model, $event.operation)"
                          (saveDataEvent)="handleSaveData($event, $event.model)"
                          (onFocusEvent)="handleFocus($event)">
                        </app-generic-table>
                      </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
    <div *ngIf="monthLabel !== null">
        <mat-label>{{ monthLabel | date:'MMMM yyyy' }}</mat-label>
    </div>
    <div *ngIf="totalWorkHours !== null">
        <mat-label>{{ "Total Work Hours: " + totalWorkHours }}</mat-label>
    </div>
    <div *ngIf="remainingWorkHours !== null">
      <mat-label [ngClass]="{
          'red-text': remainingWorkHours !== 0,
          'green-text': remainingWorkHours === 0
      }">
          Remaining Work Hours: {{ remainingWorkHours }}
      </mat-label>
  </div>
</mat-card>
