<mat-card-header>
  <mat-card-title>{{'Manage an Official Trigram' | translate }}</mat-card-title>
</mat-card-header>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" style="margin-top: 5px;">

      <mat-form-field fxFlex>
        <mat-label>{{ 'OFFICIAL_TRIGRAMS.FIELDS.LEGAL_ENTITY' | translate }}</mat-label>
        <input matInput formControlName="legalEntity" />
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>{{'PROJECTS.FIELDS.INDUSTRY' | translate}}</mat-label>
        <mat-select formControlName="industry">
          <mat-option *ngFor="let industry of Industry | keyvalue" [value]="industry.value">
            {{industry.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>{{ 'OFFICIAL_TRIGRAMS.FIELDS.NAME' | translate }}</mat-label>
        <input matInput formControlName="name"/>
      </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" style="margin-top: 5px;">
      <mat-form-field fxFlex>
        <mat-label>{{ 'OFFICIAL_TRIGRAMS.FIELDS.TRIGRAM' | translate }}</mat-label>
        <input matInput formControlName="trigram" maxlength="3"/>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>{{ 'OFFICIAL_TRIGRAMS.FIELDS.ROLE' | translate }}</mat-label>
        <input matInput formControlName="roles" />
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>{{ 'OFFICIAL_TRIGRAMS.FIELDS.REPORTS_TO' | translate }}</mat-label>
        <input matInput formControlName="reportsTo" maxlength="3"/>
      </mat-form-field>
      </div>
      <div>
      <button [disabled]="!form.valid" type="submit" mat-flat-button color="primary" class="inline">
        {{ 'BUTTONS.SAVE' | translate }}
      </button>
    </div>
  </form>
</mat-dialog-content>
