<mat-card-header>
  <mat-card-title>{{'Manage a Skill' | translate }}</mat-card-title>
</mat-card-header>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" style="margin-top: 5px;">

      <mat-form-field fxFlex formGroupName="skillGroup" check-visibility control="skillGroup.id">
        <mat-label>{{"SKILLS.FIELDS.SKILL_GROUP" | translate}}</mat-label>
        <input type="text" matInput formControlName="id" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
          <mat-option *ngFor="let skillGroup of filteredGroupsSkill | async" [value]="skillGroup.id">
            {{skillGroup.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>{{ 'SKILLS.FIELDS.NAME' | translate }}</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <button [disabled]="!form.valid" type="submit" mat-flat-button color="primary" class="inline">
        {{ 'BUTTONS.SAVE' | translate }}
      </button>

    </div>
  </form>
</mat-dialog-content>
