<mat-card-header style="margin-bottom: 10px;">
  <mat-card-title>{{'FILTER.TITLE' | translate}}</mat-card-title>
</mat-card-header>


<form [formGroup]="form" (ngSubmit)="apply()">

  <div class="filter-card">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10" class="filter-card">
      <mat-form-field>
        <mat-label>{{'PROJECTS.FIELDS.DUM' | translate}}</mat-label>
        <input matInput type="text" [formControl]="dumCtrl" [matAutocomplete]="dumAuto">
        <mat-autocomplete  #dumAuto="matAutocomplete" [displayWith]="displayLabelFn">
          <mat-option *ngFor="let resource of resourcesDumOb | async" [value]="resource">
            {{resource.name + ' ' + resource.surname}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>{{'PROJECTS.FIELDS.PRESALE' | translate}}</mat-label>
        <input matInput type="text" [formControl]="presaleCtrl" [matAutocomplete]="pseAuto">
        <mat-autocomplete #pseAuto="matAutocomplete" [displayWith]="displayLabelFn">
          <mat-option *ngFor="let resource of resourcesPreSaleOb | async" [value]="resource">
            {{resource.name + ' ' + resource.surname}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">

      <mat-form-field fxFlex >
        <mat-label>{{'PROJECTS.FIELDS.BM' | translate}}</mat-label>
        <input matInput formControlName="bmTrigram" maxlength="3">
      </mat-form-field>

      <mat-form-field fxFlex [hidden]="!hasPermissions()">
        <mat-label>{{'PROJECTS.FIELDS.PM' | translate}}</mat-label>
        <input matInput type="text" [formControl]="pmCtrl" [matAutocomplete]="pmAuto">
        <mat-autocomplete #pmAuto="matAutocomplete" [displayWith]="displayLabelFn">
          <mat-option *ngFor="let resource of resourcesPMOb | async" [value]="resource">
            {{resource.name + ' ' + resource.surname}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
      <mat-form-field fxFlex>
        <mat-label>{{'PROJECTS.FIELDS.STATUS' | translate}}</mat-label>
        <mat-select formControlName="status" required>
          <mat-option *ngFor="let status of ProjectStatus | keyvalue" [value]="status.value">
            {{status.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayoutGap="10px" fxLayoutAlign="end">
      <button mat-raised-button color="primary" type="button" (click)="eraseFilter()">Erase Filter</button>
      <button mat-raised-button color="primary" type="button" (click)="apply()">Apply</button>
    </div>
  </div>
</form>




