<mat-card-header style="margin-bottom: 10px;">
  <mat-card-title>{{ 'FILTER.TITLE' | translate }}</mat-card-title>
</mat-card-header>

<form [formGroup]="form" (ngSubmit)="apply()">
  <div class="filter-card">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
      <mat-form-field fxFlex>
        <mat-label>{{ 'RESOURCES.FIELDS.UNIT_TYPE' | translate }}</mat-label>
        <mat-select formControlName="unitType" (selectionChange)="onUnitTypeChange($event.value)">
          <mat-option *ngFor="let unitType of ExtendedUnitType | keyvalue" [value]="unitType.value">
            {{ unitType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>{{ 'RESOURCES.FIELDS.UNIT' | translate }}</mat-label>
        <mat-select formControlName="unit">
          <mat-option [value]="0">ALL</mat-option>
          <mat-option *ngFor="let unit of filteredUnits" [value]="unit.id">
            {{ unit.trigram }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
      <mat-form-field fxFlex>
        <mat-label>{{ 'RESOURCES.FIELDS.CURRENT_STATUS' | translate }}</mat-label>
        <mat-select formControlName="resourceStatus">
          <mat-option *ngFor="let status of CurrentResourceStatus | keyvalue" [value]="status.value">
            {{ status.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
      <mat-form-field fxFlex>
        <mat-label>{{ 'RESOURCES.FIELDS.SENIORITY' | translate }}</mat-label>
        <input matInput type="number" placeholder="seniority" formControlName="seniority" min="0" max="60" step="1" />
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
        <mat-label>≤</mat-label>
        <mat-slide-toggle formControlName="seniorityOp" class="custom-toggle"
          (change)="seniorityOpToggleOnChange()"></mat-slide-toggle>
        <mat-label>≥</mat-label>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
      <mat-form-field fxFlex>
        <mat-label>{{ 'RESOURCES.FIELDS.AGE' | translate }}</mat-label>
        <input matInput type="number" placeholder="age" formControlName="age" min="18" max="90" step="1" />
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
        <mat-label>≤</mat-label>
        <mat-slide-toggle formControlName="ageOp" class="custom-toggle"
          (change)="ageOpToggleOnChange()"></mat-slide-toggle>
        <mat-label>≥</mat-label>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10" [hidden]="!permissionsHourlyCosts">
      <mat-form-field fxFlex>
        <mat-label>{{ 'RESOURCES.FIELDS.HOURLYCOST' | translate }}</mat-label>
        <input matInput type="number" placeholder="cost" formControlName="hourlyCost" min="1" max="90" step="0.5" />
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
        <mat-label>≤</mat-label>
        <mat-slide-toggle formControlName="hourlyCostOp" class="custom-toggle"
          (change)="hourlyCostOpToggleOnChange()"></mat-slide-toggle>
        <mat-label>≥</mat-label>
      </div>
    </div>
      <div formArrayName="skillsArray">
        <div *ngFor="let skillGroup of skillsArray.controls; let i = index" [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">

          <mat-form-field fxFlex>
            <mat-label>{{"SKILLS.FIELDS.NAME" | translate}}</mat-label>
            <input type="text" matInput formControlName="skill" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
              <mat-option *ngFor="let skill of filteredSkills[i] | async" [value]="skill.id">
                {{skill.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>{{'SKILLS.FIELDS.RATING' | translate}}</mat-label>
            <input matInput type="number" formControlName="rating" min="1" max="5">
          </mat-form-field>

          <button mat-icon-button type="button" color="warn" (click)="removeSkillGroup(i)">
            <mat-icon style="margin-bottom: 20px;">remove_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div fxLayoutGap="10px" fxLayoutAlign="end">
      <button mat-raised-button color="primary" type="button" (click)="addSkillGroup()">Add Skill</button>
      <button mat-raised-button color="primary" type="button" (click)="eraseFilter()">Erase Filter</button>
      <button mat-raised-button color="primary" type="button" (click)="apply()">Apply</button>
    </div>
</form>
