<div mat-dialog-title>
  Hourly Costs History
</div>
<div mat-dialog-content class="table-container">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #MatSortRef>

    <!-- Date Column -->
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.startDate | date:'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="cost">
      <mat-header-cell *matHeaderCellDef> Cost </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button color="primary" (click)="closeDialog()">Close</button>
</div>
