<mat-card>
    <mat-card-header>
      <mat-card-title>{{pageTitle | translate}}</mat-card-title>
      <mat-card-subtitle>{{'LICENCES.SEARCH.SUBTITLE' | translate}}</mat-card-subtitle>
    </mat-card-header>
  
  
    <mat-card-content>
      <ng-container [ngTemplateOutlet]="searchForm"></ng-container>
  
      <app-generic-table searchResult *ngIf="searchResult" (onPageChange)="onPageChange($event)"
        [totalElements]="searchResult?.totalElements" [numberOfElements]="searchResult?.size"
        [totalPages]="searchResult?.totalPages" [columns]="columns" [dataSource]="searchResult?.content"
        [showCheckbox]="false" (onActionClick)="onEditClick($event.model)" (onSortChange)="onSortChange($event)">
      </app-generic-table>
  
    </mat-card-content>
  </mat-card>
  
  
  
  <ng-template #searchForm>
    <form fxFlexLayout="row" fxLayoutAlign="space-between center" [formGroup]="form" (ngSubmit)="onSubmit()">
  
  
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10" class="pb-2 mb-1">
  
        <mat-form-field>
          <mat-label>{{"Cerca " | translate}}</mat-label>
          <input matInput placeholder="Search" formControlName="searchInput">
          <mat-icon matSuffix>cerca</mat-icon>
        </mat-form-field>
      </div>
  
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10" class="pb-2 mb-1">
        <button type="custom_reset" mat-flat-button color="primary" (click)="resetSearch()">Resetta Filtro</button>
        <button *ngIf="roleService.hasPermission(ROLE_VISIBILITY.EVERYBODY)" mat-flat-button color="primary"
          (click)="onNewClick()">{{"BUTTONS.NEW_LICENCE" | translate}}</button>
      </div>
  
    </form>
  </ng-template>