::ng-deep .mat-tooltip {
    font-size: 13px;
}

.iconButton {
    margin-left: 10px;
}

.filename {
    margin-left: 10px;
    font-size: 14px;
}

.progressBar {
    margin-top: 20px;
}

.mat-progress-bar {
    height: 10px; 
    background-color: #f0f0f0; 
    border-radius: 5px; 
    overflow: hidden;
}

.mat-progress-bar-fill {
    background-color: #007bff; 
    border-radius: 5px;
}


.file-upload-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red; /* Default color */
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-right: 10px; /* Space between the indicator and the text */
  }
  
  .upload-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .span-error {
    display: block;
    margin-top: 10px;
    color: red;
  }

  .status-indicator.green {
    background-color: green;
  }
  
  .status-indicator.red {
    background-color: red;
  }

  ::ng-deep .status-indicator.dots {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    width: 1em; /* Adjust width if necessary */
  }
  
  ::ng-deep .status-indicator .dots {
    display: inline-block; 
    animation: dots 1.5s infinite;
  }
  
  @keyframes dots {
    0%, 20% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .span-error {
    color: red;
  }
  
  .filename {
    font-weight: bold;
  }

  .textarea-error {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: medium;
  }
  
  .textarea-error.error {
    color: red;
  }
  
  .textarea-error.empty {
    border: none;
    padding: 0;
  }
  
  
  
  