.breadcrumb {
    margin-top: 15px;
    margin-left: 10px;
}

.breadcrumb-icon {
    cursor: pointer;
    margin-top: 4px;
    float: left;
    padding-right: .5rem;
    color: #6c757d;
}

.breadcrumb-separator {
    padding-left: .5rem;
    padding-right: .5rem;
    color: #6c757d;
}