<mat-card>
  <mat-card-header>
    <mat-card-title>{{ pageTitle | translate }} : {{ userName }} </mat-card-title>
    <mat-card-subtitle>{{
      (isInsert() ? 'USERS.FORM.NEW_SUBTITLE' : 'USERS.FORM.UPDATE_SUBTITLE') | translate
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <form fxFlex [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row" fxLayoutGap="5px">

        <mat-form-field fxFlex formGroupName="resource" check-visibility control="resource.id">
          <mat-label>{{'TIMESHEET.FIELDS.RESOURCE' | translate}}</mat-label>
          <input matInput type="text" formControlName="id" [matAutocomplete]="auto" [disabled]="!isInsert()" required>
          <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayLabelFn.bind(this)">
            <mat-option *ngFor="let resource of resourcesOb | async" [value]="resource.id" (onSelectionChange)="onResourceChange(resource.id)">
              {{resource.name + ' ' + resource.surname}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex [hidden]="!isInsert()">
          <mat-label>{{ 'USERS.FIELDS.EMAIL' | translate }}</mat-label>
          <input matInput [value]="selectedResource?.email" [readonly]="true" required />
        </mat-form-field>
        <mat-form-field fxFlex check-visibility control="status">
          <mat-label>{{ 'UNITS.FIELDS.STATUS' | translate }}</mat-label>
          <mat-select formControlName="status" [disabled]="true">
            <mat-option *ngFor="let status of Status | keyvalue" [value]="status.value">
              {{ status.value | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="10"
        class="mt-5"
      >
        <button type="reset" mat-button color="primary" (click)="goBack()">
          {{ 'BUTTONS.BACK' | translate }}
        </button>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
          <button
            *ngIf="!isInsert()"
            type="button"
            mat-flat-button
            color="accent"
            (click)="onDisableClick()"
          >
            {{ model?.status == 'Enabled' ? 'Disable' : ('Enable' | translate) }}
          </button>
          <button [disabled]="isButtonDisabled()" type="submit" mat-flat-button color="primary">
            {{ 'BUTTONS.SAVE' | translate }}
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
