
<mat-card-header style="margin-bottom: 10px;">
  <mat-card-title>{{'FILTER.TITLE' | translate}}</mat-card-title>
</mat-card-header>

<form [formGroup]="form" (ngSubmit)="apply()">

  <div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <mat-form-field>
        <mat-label>{{'Roles' | translate}}</mat-label>
        <mat-select formControlName="roles" multiple>
          <mat-option *ngFor="let role of Role | keyvalue" [value]="role.value">
            {{role.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex check-visibility control="status">
        <mat-label>{{"UNITS.FIELDS.STATUS" | translate}}</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of ExtendedStatus | keyvalue" [value]="status.value">
            {{ status.value | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayoutGap="10px"  fxLayoutAlign="end">
      <button mat-raised-button color="primary" type="button" (click)="eraseFilter()">Erase filter</button>
      <button mat-raised-button color="primary" type="button" (click)="apply()">Apply</button>
    </div>
  </div>
</form>




