.mat-card {
  margin-bottom: 16px;
}

.mat-tab-label {
  background-color: transparent;
  color: rgb(196, 196, 196);

}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-weight: 700;
}



