<mat-card-header>
  <mat-card-title>{{'ALLOCATION.ADD_END_DATE_DIALOG.TITLE' | translate}}</mat-card-title>
</mat-card-header><mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row" style="margin-top: 5px;"  fxLayoutAlign="space-between center" fxLayoutGap="20px">

      <mat-form-field fxFlex="35%">
        <mat-label>
          {{ !isRealCommitmentInsertEnabled ? ('ALLOCATION.FIELDS.HOURS' | translate) : ('ALLOCATION.FIELDS.PERCENTAGE'
          | translate) }}
        </mat-label>
        <input matInput type="number" formControlName="commitment" [min]="1"
          [max]="!isRealCommitmentInsertEnabled ? null : 100" pattern="[1-9][0-9]?|100" required>
      </mat-form-field>

      <mat-form-field fxFlex="35%">
        <mat-label>{{'ALLOCATION.FIELDS.START_DATE' | translate}}</mat-label>
        <input matInput [matDatepicker]="startDateAllocationPicker" formControlName="startDate" required>
        <mat-datepicker-toggle matSuffix [for]="startDateAllocationPicker"></mat-datepicker-toggle>
        <mat-datepicker #startDateAllocationPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>{{'ALLOCATION.FIELDS.END_DATE' | translate}}</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker" ></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div style="display: flex; justify-content: flex-end;">
      <button type="submit" mat-flat-button color="primary">{{"BUTTONS.SAVE" | translate}}</button>
    </div>
  </form>
</mat-dialog-content>
