<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="!isInsert()">{{pageTitle | translate}} : {{projectFullTitle}} </mat-card-title>
    <mat-card-title *ngIf="isInsert()">{{pageTitle | translate}}</mat-card-title>
    <mat-card-subtitle>{{ (isInsert() ? 'PROJECTS.FORM.NEW_SUBTITLE' : 'PROJECTS.FORM.UPDATE_SUBTITLE') |
      translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="column">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row" fxLayoutAlign="5px">
        <mat-label class="group-label">{{ 'GENERAL INFORMATION' | translate }}</mat-label>
      </div>
      <div class="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field fxFlex>
          <mat-label>{{"Compliant with Naming Convention" | translate}}</mat-label>
          <input matInput formControlName="name" [readonly]="!permissionsSave" required>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>{{'PROJECTS.FIELDS.INDUSTRY' | translate}}</mat-label>
          <mat-select formControlName="industry" required>
            <mat-option *ngFor="let industry of Industry | keyvalue" [value]="industry.value"
              [disabled]="!permissionsSave">
              {{industry.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>{{'PROJECTS.FIELDS.STATUS' | translate}}</mat-label>
          <mat-select formControlName="status" [disabled]="isInsert()" required>
            <mat-option *ngFor="let status of ProjectStatus | keyvalue" [value]="status.value">
              {{status.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field fxFlex>
          <mat-label>{{'PROJECTS.FIELDS.TYPE' | translate}}</mat-label>
          <mat-select formControlName="projectType" required>
            <mat-option *ngFor="let type of ProjectType | keyvalue" [value]="type.value" [disabled]="!permissionsSave">
              {{type.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>{{'PROJECTS.FIELDS.CRM' | translate}}</mat-label>
          <input matInput formControlName="crmCode" [readonly]="!permissionsSave">
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>{{'PROJECTS.FIELDS.PROJECT_ID' | translate}}</mat-label>
          <input matInput type="number" formControlName="projectId" min="0" [readonly]="!permissionsSave"
            [required]="checkPreSaleProjectStatus()">
        </mat-form-field>
        <mat-checkbox formControlName="ic" [disabled]="!permissionsSave">{{'PROJECTS.FIELDS.I/C' |
          translate}}</mat-checkbox>
      </div>
      <div class="row" fxLayoutAlign="5px">
        <mat-label class="group-label">{{ 'TEAM DETAILS' | translate }}</mat-label>
      </div>
      <div class="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field fxFlex>
          <mat-label>{{ "RESOURCES.FIELDS.UNIT" | translate }}</mat-label>
          <mat-select formControlName="unitId">
            <mat-option *ngFor="let unit of units" [value]="unit.id" [disabled]="!permissionsSave">
              {{ unit.trigram }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>{{"PROJECTS.FIELDS.DUM" | translate}}</mat-label>
          <input matInput type="text" formControlName="dumId" [matAutocomplete]="dumAuto" required
            [disabled]="!permissionsSave">
          <mat-autocomplete #dumAuto="matAutocomplete" [displayWith]="displayLabelFnDum.bind(this)">
            <mat-option *ngFor="let resource of resourcesDumOb | async" [value]="resource.id">
              {{resource.name + ' ' + resource.surname}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>{{'PROJECTS.FIELDS.BM' | translate}}</mat-label>
          <input matInput formControlName="bmTrigram" maxlength="3" required [readonly]="!permissionsSave">
        </mat-form-field>

        <mat-form-field fxFlex check-visibility control="presale.id">
          <mat-label>{{"PROJECTS.FIELDS.PRESALE" | translate}}</mat-label>
          <input matInput type="text" formControlName="presaleId" [matAutocomplete]="pseAuto" required
            [disabled]="!permissionsSave">
          <mat-autocomplete #pseAuto="matAutocomplete" [displayWith]="displayLabelFnPse.bind(this)">
            <mat-option *ngFor="let resource of resourcesPseOb | async" [value]="resource.id">
              {{resource.name + ' ' + resource.surname}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
      <div class="row" fxLayoutAlign="5px">
        <mat-label class="group-label">{{ 'TIME DETAILS' | translate }}</mat-label>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">


        <!--
        <mat-form-field fxFlex>
          <mat-label>{{'PROJECTS.FIELDS.NODE_ORDER' | translate}}</mat-label>
          <input matInput formControlName="commissionNode" [readonly]="!permissionsSave">
        </mat-form-field> -->

        <mat-form-field fxFlex>
          <mat-label>{{'PROJECTS.FIELDS.SCHEDULED_START_DATE' | translate}}</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="startDate" required
            [readonly]="!permissionsSave">
          <mat-datepicker-toggle matSuffix [for]="startPicker" required
            [disabled]="!permissionsSave"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>{{'PROJECTS.FIELDS.SCHEDULED_END_DATE' | translate}}</mat-label>
          <input matInput [matDatepicker]="endPicker" formControlName="preSaleScheduledEndDate" required
            [readonly]="!permissionsSave">
          <mat-datepicker-toggle matSuffix [for]="endPicker" required></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>{{'PROJECTS.FIELDS.KOM_DATE' | translate}}</mat-label>
          <input matInput [matDatepicker]="komPicker" formControlName="komDate" [readonly]="!permissionsSave" [required]="checkPreSaleProjectStatus()">
          <mat-datepicker-toggle matSuffix [for]="komPicker" [disabled]="!permissionsSave"></mat-datepicker-toggle>
          <mat-datepicker #komPicker></mat-datepicker>
        </mat-form-field>


        <mat-form-field fxFlex [hidden]=isTheProjectInPreSale>
          <mat-label>{{'PROJECTS.FIELDS.ESTIMATED_END_DATE' | translate}}</mat-label>
          <input matInput [matDatepicker]="estimatedendPicker" formControlName="estimatedEndDate"
            [readonly]="!permissionsSave" [disabled]="true">
          <mat-datepicker-toggle matSuffix [for]="estimatedendPicker" [disabled]="true"></mat-datepicker-toggle>
          <mat-datepicker #estimatedendPicker></mat-datepicker>
        </mat-form-field>


        <mat-form-field fxFlex>
          <mat-label>{{'PROJECTS.FIELDS.EFFECTIVE_END_DATE' | translate}}</mat-label>
          <input matInput [matDatepicker]="termDatePicker" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="termDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #termDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row" fxLayoutAlign="5px">
        <mat-label class="group-label">{{ 'COSTS DETAILS' | translate }}</mat-label>
      </div>
      <div class="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

        <mat-form-field fxFlex [hidden]="!permissionsCost">
          <mat-label>{{'PROJECTS.FIELDS.PS_FIXED_COST' | translate}}</mat-label>
          <input matInput type="number" formControlName="preSaleFixedCost" min="0" [readonly]="!isTheProjectInPreSale">
        </mat-form-field>

        <mat-form-field fxFlex [hidden]="isInsert()">
          <mat-label>{{'PROJECTS.FIELDS.PS_HR_COST' | translate}}</mat-label>
          <input matInput type="number" formControlName="preSaleEstimatedHrCost" readonly>
        </mat-form-field>

        <mat-form-field fxFlex [hidden]="isInsert()">
          <mat-label>{{'PROJECTS.FIELDS.PS_ESTIMATED_COST' | translate}}</mat-label>
          <input matInput type="number" formControlName="preSaleEstimatedCost" readonly>
        </mat-form-field>
      </div>
      <div class="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

        <mat-form-field fxFlex [hidden]="isInsert()">
          <mat-label>{{'PROJECTS.FIELDS.C_FIXED_COST' | translate}}</mat-label>
          <input matInput type="number" formControlName="currentFixedCost" [readonly]="isTheProjectInPreSale">
        </mat-form-field>

        <mat-form-field fxFlex [hidden]="isInsert()">
          <mat-label>{{'PROJECTS.FIELDS.C_HR_COST' | translate}}</mat-label>
          <input matInput type="number" formControlName="currentEstimatedHrCost" readonly>
        </mat-form-field>

        <mat-form-field fxFlex [hidden]="isInsert()">
          <mat-label>{{'PROJECTS.FIELDS.C_ESTIMATED_COST' | translate}}</mat-label>
          <input matInput type="number" formControlName="currentEstimatedCost" readonly>
        </mat-form-field>

      </div>
      <div class="row" fxLayoutAlign="5px">
        <mat-label class="group-label">{{ 'NOTES' | translate }}</mat-label>
      </div>
      <div class="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field fxFlex>
          <mat-label>{{'PROJECTS.FIELDS.NOTE' | translate}}</mat-label>
          <textarea matInput formControlName="note" [readonly]="!permissionsSave"></textarea>
        </mat-form-field>
      </div>
      <div class="row" fxLayoutAlign="space-between center" fxLayoutGap="10" class="mt-5">
        <button type="reset" mat-button color="primary" (click)="goBack()">{{"BUTTONS.BACK" | translate}}</button>
        <div class="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
          <button [disabled]="!form.valid" type="submit" [hidden]="!permissionsSave" mat-flat-button
            color="primary">{{"BUTTONS.SAVE" |
            translate}}</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card [hidden]="isInsert()">
  <mat-card-header>
    <mat-card-title>{{'RESOURCES.FORM.ASSOCIATED_RESOURCES' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'RESOURCES.SEARCH.TITLE' | translate}}</mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="allocationForm" (ngSubmit)="onSubmitAllocation()"
    *ngIf="roleService.hasPermission(ROLE_VISIBILITY.NEW_PROJECT)">

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">

      <mat-form-field fxFlex="45%" formGroupName="resource" check-visibility control="resource.id">
        <mat-label>{{'ALLOCATION.FIELDS.RESOURCE' | translate}}</mat-label>
        <input matInput type="text" formControlName="id" [matAutocomplete]="resAuto" required>
        <mat-autocomplete #resAuto="matAutocomplete" [displayWith]="displayLabelFnAllocation.bind(this)">
          <mat-option *ngFor="let resource of resourcesAllocationOb | async" [value]="resource.id"
            (onSelectionChange)="onResourceChange($event, resource.id)">
            {{resource.name + ' ' + resource.surname}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field fxFlex="45%">
        <mat-label>{{'ALLOCATION.FIELDS.ROLE' | translate}}</mat-label>
        <mat-select formControlName="role" required>
          <mat-option *ngFor="let role of selectedResourceRoles | keyvalue" [value]="role.value">
            {{ role.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="35%">
        <mat-label>
          {{ !isRealCommitmentInsertEnabled ? ('ALLOCATION.FIELDS.HOURS' | translate) : ('ALLOCATION.FIELDS.PERCENTAGE'
          | translate) }}
        </mat-label>
        <input matInput type="number" formControlName="commitment" [min]="1"
          [max]="!isRealCommitmentInsertEnabled ? null : 100" pattern="[1-9][0-9]?|100" required>
      </mat-form-field>

      <mat-form-field fxFlex="35%">
        <mat-label>{{'ALLOCATION.FIELDS.START_DATE' | translate}}</mat-label>
        <input matInput [matDatepicker]="startDateAllocationPicker" formControlName="startDate" required>
        <mat-datepicker-toggle matSuffix [for]="startDateAllocationPicker"></mat-datepicker-toggle>
        <mat-datepicker #startDateAllocationPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="35%">
        <mat-label>{{'ALLOCATION.FIELDS.END_DATE' | translate}}</mat-label>
        <input matInput [matDatepicker]="endDateAllocationPicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDateAllocationPicker"></mat-datepicker-toggle>
        <mat-datepicker #endDateAllocationPicker></mat-datepicker>
      </mat-form-field>

      <mat-radio-group fxFlex="15%" formControlName="realCommitment">
        <mat-radio-button [value]="true">
          Real Commitment
        </mat-radio-button>
        <mat-radio-button [value]="false">
          Sales Commitment
        </mat-radio-button>
      </mat-radio-group>
      <div class="add_button" fxLayoutAlign="space-between center" fxLayoutGap="10">
        <button [disabled]="!allocationForm.valid" type="submit" mat-flat-button color="primary">{{"BUTTONS.ADD" |
          translate}}</button>
      </div>

    </div>

  </form>


  <mat-tab-group>
    <mat-tab label="{{'TABS.SALES_TAB' | translate}}">
      <mat-card-content fxLayout="column">
        <app-generic-table [columns]="sale_columns" [dataSource]="allocations_sale" [showCheckbox]="false"
          [tableAction]="actions" (onActionClick)="onActionClick($event.model, $event.operation)">
        </app-generic-table>
      </mat-card-content>
    </mat-tab>

    <mat-tab label="{{'TABS.REAL_TAB' | translate}}">
      <mat-card-content fxLayout="column">
        <app-generic-table [columns]="real_columns" [dataSource]="allocations_real" [showCheckbox]="false"
          [tableAction]="actions" (onActionClick)="onActionClick($event.model, $event.operation)">
        </app-generic-table>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>

</mat-card>