<div mat-dialog-title>
  Salary Details
</div>
<div mat-dialog-content class="table-container">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #MatSortRef>

    <ng-container matColumnDef="ralStartDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> RAL Start Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ralStartDate | date:'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ral">
      <mat-header-cell *matHeaderCellDef> RAL </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ral}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ccnlLevelStartDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CCNL Level Start Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ccnlLevelStartDate | date:'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ccnlLevel">
      <mat-header-cell *matHeaderCellDef> CCNL Level </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ccnlLevel}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dailyAllowanceStartDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Daily Allowance Start Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dailyAllowanceStartDate | date:'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dailyAllowance">
      <mat-header-cell *matHeaderCellDef> Daily Allowance </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dailyAllowance}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button color="primary" (click)="closeDialog()">Close</button>
</div>
